<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="post">
      <div class="form-group">
        <label for="number1">First Number</label>
        <input type="number" class="form-control" id="number1" name="number1" placeholder="First Number" >
      </div>
     
      <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      <div class="form-group">
        <button type="submit"  id='btn' class="btn btn-default button">Submit</button>
      </div>
      <div class="form-group hidden" id="result-container">
        <div class="alert alert-success text-goes-here">
        </div>
      </div>
      <ul class = "is-prime   notprime" id="results">
       

      </ul>
     
      

      
      <input name= '_method' value="PUT" hidden/>
    </form>
  </div>
</div>