html,
body {
	font-size: 15pt;
}

#body {
	background: #c6dce6;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.btn{
	color:crimson;
	background-color: darkseagreen;
}
label {
	font-weight: bold;
}
body {
    background: #138acf;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
  }
  
  main {
    max-width: 75%;
    margin: auto;
  }
  
  header {
    border-bottom: 1px solid #991414;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333;
    margin-bottom: 5px;
  }
  
  h1 {
    color: indianred;
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1.15rem;
  }
  
  h6 {
    font-size: 1.05rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 2;
  }
  
  .post {
    width: 75%;
    border-bottom: 1px dashed #333;
  }
  .is-prime{
    font-style: italic;
    color: #00E676;
  }
  .not-prime{
    font-style: italic;
    color: #FF3D00;
  }
  /* li{
    color: green;
  } */
  .container{
    color: rgb(43, 11, 221);
    border-style: double;
  }
  .myheader{
    color: magenta;
    font-style: oblique;
  }
  #btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(90, 8, 8);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
  
  }
  .foot{
    font-style: italic;
    color: maroon;
    text-align: center;
  }
 