* {
	box-sizing: border-box;
}

html,
body {
	font-size: 15pt;
}

body {
	background: #89eed0;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.btn{
	color:crimson;
	background-color: darkseagreen;
}

main {
	max-width: 75%;
	margin: auto;
}

header {
	border-bottom: 1px solid #1d006d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: crimson;
	margin-bottom: 5px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.15rem;
}

h6 {
	font-size: 1.05rem;
}

p {
	font-size: 1rem;
	line-height: 2;
}
.page-Header{
	font-weight: bold;
	color: rgb(248, 144, 7);
}

.show {
	width: 75%;
	border-bottom: 1px dashed rgb(80, 196, 80);
}

.new-show-form {
	max-width: 300px;
}

.new-show-form .full-width-input {
	display: block;
	min-height: 3em;
	margin: 10px 0;
	width: 100%;
}

label {
	font-weight: bold;
}

.error-list li {
	color: #ff0000;
}

.author-link,
.author-link:link {
	color: #004363;
}
.error {
	font-weight: bold;
	font-style: italic;
	color: rgb(255, 60, 0);
}

.not-found {
	font-style: italic;
	color: saddlebrown;
}

.author-link:hover {
	font-style: normal;
	font-weight: 700;
}

.author-link:active {
	color: #ff0000;
}
.page-footer{
	font-weight: bold;
	color: rgb(248, 144, 7);
}

.dltag{
	color: rgb(141, 109, 21);
	font-style: oblique;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
  }
dt{
	font-weight: bold;
}