<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body>
    <main class="container">
        <h1 id="the-heading">AJAX and Security!</h1>
        <div class="row">
            <div class="col-sm-12">
              
            </div>
        </div>
          <form id="searchForm" method="post">
            <div class="form-group">
              <label for="search_term">Enter Search Term</label>
              <input type="text" class="form-control" id="search_term" name="search_term" placeholder="Search" required>
            </div>
            <div class="form-group">
        <button type="submit"  id='btn' class="btn btn-default button">Submit</button>
      </div>
        </form>

        <ul id="showList">

        </ul>
        <div id="show">

        </div>
      
    </main>
    <div> 
  <h1 id="name"></h1> 
  <div id="image"><img > </div>
  <dl class="dltag"> 
    <dt>Language</dt> 
    <dd id="language"></dd> 
    <dt>Genres</dt> 
    <dd > 
   
    
    <ul  id="genre">
      
             
    </ul>


    </dd> 
    <dt>Average Rating</dt> 
    <dd id="rating"></dd> 
    <dt>Network</dt> 
    <dd id="network"></dd> 
    <dt>Summary</dt> 
    
    <dd id="summary"></dd> 
  </dl> 
</div> 

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/basic_ajax_with_jquery.js"></script>
   <a id="homeLink" href="http://localhost:3000">
    Back to all shows</a>

    <footer>Yash Avinash Patole 10460520 this is last lab</footer>

</body>

</html>